<h1 class="mt-4">Dashboard</h1>

<p>Welcome <%= name %></p>
<p class="lead mb-3">
    <img src="images/Portrait.png" width="256" style="margin-right: 8px" />
</p>
<a href="/users/datinginfo" class="btn btn-primary btn-block">My Dating Info</a>
<a href="/users/updatedatinginfo" class="btn btn-primary btn-block">Update Dating Info</a>
<a href="/datingmatch" class="btn btn-primary btn-block">Dating Match</a>
<br> <br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

