<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fa-solid fa-list-ul"></i>  Update My Dating Info</h1>
      <%- include("./partials/messages") %>
      <form action="/users/updatedatinginfo" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="<%= curUserEmail %>"
          />
          <!-- TODO: verify email to be the user's email -->
        </div>
        <div class="form-group">
          <label for="nickname">Nickname</label>
          <input
            type="text"
            id="nickname"
            name="nickname"
            class="form-control"
            placeholder="Enter Nickname"
          />
        </div>
        <div class="form-group">
          <label for="sex">Sex</label><br>
          <select id="sex" class="form-control" >
            <option value="1">--</option>
            <option value="2">Male</option>
            <option value="3">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age"
            name="age"
            class="form-control"
            placeholder="Enter Age"
          />
        </div>
        <div class="form-group">
          <label for="text">Location</label>
          <input
            type="location"
            id="location"
            name="location"
            class="form-control"
            placeholder="Enter Location"
          />
        </div>
        <div class="form-group">
          <label for="hobbies">Hobbies</label>
          <input
            type="hobbies"
            id="hobbies"
            name="hobbies"
            class="form-control"
            placeholder="Enter Hobbies"
          />
        </div>
        <div class="form-group">
          <label for="covidStatus">Covid Status</label><br>
          <select id="covidStatus" class="form-control" >
            <option value="1">--</option>
            <option value="2">Negative</option>
            <option value="3">Positive</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>